:root {
	--background: #f7f7f7;
	--background-card: #eaeaea;
	--background-footer: #b40a1d;
	--color-primary: #ec1224;
	--color-secondary: white;
	--color-content: #333333;
	--color-yellow: #fff200;
	--border-line: 2px solid #ec1224;
}

body {
	background-color: var(--background);
}

header {
	& #nav-border {
		border-bottom: var(--border-line);
	}

	& .navbar-brand {
		color: var(--color-primary);
	}

	& span {
		color: var(--color-yellow);
		background-color: var(--color-content);
	}

	& #cart {
		width: 40px;
	}

	& img {
		width: 100%;
	}

	& #btn-masuk {
		border: var(--border-line);
		color: var(--color-primary);
	}

	& #btn-daftar {
		background-color: var(--color-primary);
		color: var(--background);
		border: var(--border-line);
	}
}

#store-products {
	.col {
		margin: 0.5rem;
	}
}

.card {
	margin: 0;

	.rating {
		& img {
			width: 8%;
		}
	}
}

footer {
	background-color: var(--background-footer);
	color: var(--color-secondary);
}
