:root {
	--background: #f7f7f7;
	--background-footer: #b40a1d;
	--color-primary: #ec1224;
	--color-secondary: white;
	--color-content: #333333;
	--color-yellow: #fff200;
	--border-line: 2px solid #ec1224;
}

body {
	background-color: var(--background);
}

header {
	border-bottom: 1px rgb(209, 209, 209) solid;

	& .navbar-brand {
		color: var(--color-primary);
	}

	& #brand-line {
		color: var(--color-yellow);
		background-color: var(--color-content);
	}

	& #kategori {
		color: var(--color-content);
	}

	& #search {
		border: var(--border-line);
	}

	& #cart {
		width: 40px;
	}

	& img {
		width: 100%;
	}

	& #btn-masuk {
		border: var(--border-line);
		color: var(--color-primary);
	}

	& #btn-daftar {
		background-color: var(--color-primary);
		color: var(--background);
		border: var(--border-line);
	}
}

#panel-filter {
	& a {
		text-decoration: none;
		color: var(--color-primary);
	}
}

#store-products {
	& .col {
		display: flex;
		justify-content: center;
		margin: 0.5rem;
	}
}

.card {
	margin: 0;

	& .rating {
		& img {
			width: 8%;
		}
	}
}

footer {
	background-color: var(--background-footer);
	color: var(--color-secondary);
}
